extends layout



block content
<<<<<<< HEAD
  h1(style="margin-top:200px")= title
=======
  h1(style="margin-top: 180px")= title
>>>>>>> 7b55a550acc3982520249ece9a5c478f6c5b9750
  p Welcome to #{title}
