extends layout

block content
 h1(style="margin-top:200px")
  .container
    h1 Register now
    p.lead
      | Create your account. Already have one?
      a(href='/signin') Sign in here.
    form(action="/register", method="post", role="form")
      .form-group
        label(for='username') Username
        input.form-control(type='text', id='username', name='username', placeholder='Enter a username', required)
      .form-group
        label(for='email') Email
        input.form-control(type='email', id='email', name='email', placeholder='Enter your email', required)
      .form-group
        label(for='password') Password
        input.form-control(type='password', id='password', name='password', placeholder='Enter a password', required)
      .form-group
        label(for='confirmPassword') Confirm Password
        input.form-control(type='password', id='confirmPassword', name='confirmPassword', placeholder='Enter a password again', required)
      button.btn.btn-primary(type='submit') Register
      &nbsp;
      a.btn.btn-default(role='button', href='/') Cancel
